
<h1 class="text-center" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content class="flex">
  <mat-form-field class="" appearance="outline">
    <mat-label for="id" class="">Id</mat-label>
    <input matInput name="id" type="text" [(ngModel)]="data.user.id" disabled="true" class="">
  </mat-form-field>
  <mat-form-field class="" appearance="outline">
    <mat-label for="pseudo" class="">Pseudo</mat-label>
    <input matInput name="pseudo" type="text" [(ngModel)]="data.user.userName" class="" [disabled]="roleService.toString(userService.user.role) !== 'Administrateur'">
  </mat-form-field>
  <mat-form-field *ngIf="roleService.toString(userService.user.role) == 'Administrateur'" class="" appearance="outline">
    <mat-label for="password" class="col-6">Password</mat-label>
    <input matInput name="password" [(ngModel)]="data.user.password" class="" type="{{hidePassword ? 'password' : 'text'}}">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword;" class="">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-form-field class="" appearance="outline">
    <mat-label for="role" class="">Role</mat-label>
    <mat-select [(value)]="data.user.role" [compareWith]="compareRoles" class="" [disabled]="roleService.toString(userService.user.role) !== 'Administrateur'">
      <mat-option *ngFor="let role of roleService.roles" [value]="role" >{{roleService.toString(role)}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex-center mt-1" >
  <button mat-flat-button color="warn" class="mb-2 button" (click)="onNoClick()"><mat-icon>close</mat-icon>Fermer</button>
  <button *ngIf="roleService.toString(userService.user.role) == 'Administrateur'" mat-flat-button color="primary" class="mb-2 button" [mat-dialog-close]="data" cdkFocusInitial><mat-icon>check</mat-icon>Valider</button>
</div>
<!-- isUserCreation -->
