@import "src/library";
@import "src/theme";


.flex {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.flex-buttons {
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.button {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $components-background-light-color !important;
  color: $components-foreground-color !important;
  border-radius: 10px !important;
}
