<div class="body-container">
  <div class="">
    <h2 class="text-center mb-5">Page Admin</h2>
  </div>
  <div class="">
    <h3 class="text-center mb-3">Liste des Users</h3>
  </div>
  <div class="flex-center mt-3">
    <mat-table [dataSource]="userList" class="mat-elevation-z4">
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.userName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Rôle</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.role.label}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nb-animals">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Nombre d'Animaux</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.animals ? element.animals.length : 0}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" (click)="editUser(element)" class="ms-2 me-2">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="deleteUser(element)" class="ms-2">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
<!--
  <div *ngIf="isEditUserDivOpen">
    <app-edit-user></app-edit-user>
  </div>
-->
  <div class="flex-center mt-4 mb-2">
    <button mat-raised-button class=" mat-elevation-z2" color="primary" (click)="addUser()"><mat-icon>add</mat-icon> Ajouter User</button>
  </div>


  <div class="">
    <h3 class="text-center mt-5 mb-3">Liste des Animaux</h3>
  </div>

  <div class="flex-center mt-3">
    <mat-table [dataSource]="animalList" class="mat-elevation-z4">
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.animalType.label}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="genre">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Genre</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.genre == 'MALE' ? 'Mâle' : 'Femelle'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birth">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Birth</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.birth | date:'dd-MM-yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" (click)="editAnimal(element)" class="ms-2 me-2">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="deleteAnimal(element)" class="ms-2">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedAnimalsColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedAnimalsColumns"></mat-row>
    </mat-table>
  </div>
  <div class="flex-center mt-4 mb-2">
    <button mat-raised-button class=" mat-elevation-z2" color="primary" (click)="addAnimal()"><mat-icon>add</mat-icon> Ajouter Animal</button>
  </div>
</div>
