@import "src/library";
@import "src/theme";

.body-container {
  margin-top: 6rem;
  margin-bottom: 4rem;
  flex-grow: 1;
  color: $components-foreground-color !important;
}

mat-table {
  width: 80%;
  background-color: $components-background-color-bis !important;
}

mat-header-cell,
mat-cell {
  color: $components-foreground-color !important;
}

::ng-deep .dialog {
  display: flex !important;
  justify-content:flex-start !important;
  flex-direction: column !important;
}


