<div class="body-container">
  <div class="">
    <h2 class="text-center mb-5">Page Error</h2>
  </div>
  <div class="">
    <h3 class="text-center mb-5">Statut : {{errorService.status}}</h3>
  </div>
  <div class="">
    <h3 class="text-center mb-5">Commentaire : {{errorService.comment}}</h3>
  </div>
  <div class="flex-center mt-4 mb-2">
    <button *ngIf="userService.isAuthenticated" mat-raised-button class="mat-elevation-z2" color="primary" (click)="userService.redirect()"><mat-icon>arrow_back</mat-icon>Retour</button>
    <button *ngIf="!userService.isAuthenticated" mat-raised-button class="mat-elevation-z2" color="primary" routerLink="/login"><mat-icon>login</mat-icon>Login</button>
  </div>
</div>
